<!DOCTYPE html>
<html>
  <head>
    {% include "partials/header.html" %}
    <title>transparency - bots</title>
  </head>

  <body>
    {% include "partials/pre-nav.html" %}
    {% include "partials/post-nav.html" %}

    <div class='page-section-home'>
      <div class='anchor' id='states'></div>
      <div class='content page-height'>
        <div class='column-container'>
          <div class='column'>
            <div class='card bordered shadowed'>
              <h1 class='card-title'>Bot Dashboard</h1>
              <div class='card-body'>
                <a class='card-link-inverted bordered' href='{{ request.path }}?refresh=True' type='button'>refresh bot data</a>
              </div>
            </div>
          </div>
        </div>

        <div class='column-container'>
          <div class='column'>
            <table class='table-bots shadowed'>
              <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Political Ranking</th>
                <th>Other Category</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Password</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Status</th>
              </tr>
              {% for username, values in data['bots'].items() %}
              <tr>
                <td>{{ username }}</td>
                <td>{{ values['name'] }}</td>
                <td><a href="/political/{{ values['political_ranking'] }}">{{ values['political_ranking'] }}</a></td>
                <td><a href="/other/{{ values['other_terms_category'] }}">{{ values['other_terms_category'] }}</a></td>
                <td>{{ values['dob'] }}</td>
                <td>{{ values['gender'] }}</td>
                <td>{{ values['password'] }}</td>
                <td>{{ values['latitude'] }}</td>
                <td>{{ values['longitude'] }}</td>
                <td>{{ values['status'] }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
