<!DOCTYPE html>
<html>
  <head>
    {% include "partials/header.html" %}
    <title>transparency - errors</title>
  </head>

  <body>
    {% include "partials/pre-nav.html" %}
    {% include "partials/post-nav.html" %}

    <div class='page-section-home'>
      <div class='anchor' id='states'></div>
      <div class='content page-height'>
        <div class='column-container'>
          <div class='column'>
            <div class='card bordered shadowed'>
              <h1 class='card-title'>Error Dashboard</h1>
              <div class='card-body'>
                <a class='card-link-inverted bordered' href='{{ request.path }}?refresh=True' type='button'>refresh error data</a>
              </div>
            </div>
          </div>
        </div>

        <div class='column-container'>
          <div class='column'>
            <table class='table-bots shadowed'>
              <tr>
                <th>Run Start Time</th>
                <th>Bot</th>
                <th>Error Message</th>
                <th>Log File</th>
                <th>Delete</th>
              </tr>
              {% for id, error in data['errors'].items() %}
              <tr>
                <td>{{ error['time'].strftime('%Y/%m/%d %H:%M:%S') }}</td>
                <td>{{ error['bot'] }}</td>
                <td>{{ error['message'] }}</td>
                <td><a href="{{ error['link'] }}">{{ error['link'] }}</a></td>
                <td><form action="/error/del" method="POST"><input type="submit" name="{{ id }}" value="delete"/></form></td>
              {% endfor %}
            </table>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
